body {
  margin: 0;
}

.animations {
  min-height: 800px;
  width: 100%;
  background-color: rgb(7, 8, 14);
}

.stars-container {
  /* z-index: -1; */
}

.star {
  position: absolute;
  border-radius: 50%;
}

@keyframes blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
