body {
  margin: 0;
  background-color: rgb(12, 14, 26);
  color: whitesmoke;
}

.secondary {
  font-size: 66%;
  opacity: 0.8;
}

header {
  display: none;
}

/* Shooting Star + Animation */
.shooting-star {
  top: 10px;
  left: 10px;
  width: 2px;
  height: 2px;
  background-color: white;
  position: absolute;
  animation: shoot 1.5s ease-in;
}

@keyframes shoot {
  from {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  to {
    opacity: 0.01;
    top: 800px;
    left: 1000px;
  }
}

/* Stars Animation Layer */
.star-container {
  height: 100vh;
  width: 100%;
}

.star {
  position: absolute;
  border-radius: 50%;
}

@keyframes blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
/* Stars Animation Layer */

/* Sections */

section {
  min-height: 100vh;
  width: 100%;
  background-color: rgb(243, 243, 243);
  color: rgb(12, 14, 26);
}
