body {
  margin: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: rgb(15, 15, 10);
}

.bolt > * {
  position: absolute;
}

path {
  animation: lightningBolt 1s linear;
  opacity: 0;
}

@keyframes lightningBolt {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
